<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>
    <%if (helloMsg || (typeof helloMsg === 'string' && helloMsg != undefined)) { %>
      <%= username %>
    <% } %>
    </h1>

    <ul>
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/contact">contact</a>
      <form action="/hello" method="get">
          <input type="text" name="username" />
        <br>
        <button type="submit">submit</button>
      </form>
    </ul>
  </body>
</html>